.signup-registration{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: myanimation .5s ease-in;
}
.form-registration{
    margin-top: 10px;
    width: 430px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}
.sregister{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes myanimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@media (max-width:670px){
    .form-registration{
        width: 300px;
    }
}